$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$borderColor: #c3c3c3;
$borderLightColor: #e7e7e7;
$folderColor: #ffdd0d;
$fileColor: #989898;
$itemHoverColor: #fff4b6;
$blueColor: #4c83d1;
$redColor: #ff0000;